.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: black;
  gap: 2rem;
  min-height: 100vh;
}

/* Project form */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  background-color: black;
  padding: 2.5rem;
  border-radius: 6px;
}

.form-container label {
  margin-bottom: 0.75rem;
  font-size: 1rem;
  color: var(--white);
}

.input {
  width: 18rem;
  padding: 0.5rem 0.75rem;
  margin-bottom: 1rem;
  border-radius: 6px;
  outline: none;
  border: 2px solid var(--black-80);
}

/* Button */
.btn {
  width: 100%;
  background-color: black;
  border-radius: 6px;
  margin-top: 0.75rem;
  color: var(--white);
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.75;
}

/* Search */
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}

.search-form {
  display: flex;
  align-items: center;
  background-color: var(--black-90);
  padding: 0.5rem 2.5rem;
  border-radius: 6px;
}

.searchInput {
  width: 15rem;
  padding: 0.25rem 0.75rem;
  border-radius: 8px;
  outline: none;
  border: 2px solid var(--black-80);
  background-color: #e2e8f0;
  flex: 1;
}

/* List */
.list-container {
  background-color: var(--black-95);
}

.main-container {
   background-color: var(--black-95);
}

.app-form{
    background-color: #e2e8f0;
}

.text-container{
  background-color: blue;
}

.list-container{
  background-color: black;
}

.flex-container{
  display: flex;
}

.boarder-container{
  padding: 6px;
}

.font-contsainer{
  font: bold;
}

.text-container{
  color: darkgray;
}